@model MyNamespace.LejerKundeLinked

@{
    ViewData["Title"] = "DeleteLejerKunde";
}

<h1>Slet kunde</h1>

<h3>Er du sikker på du vil slette denne kunde?</h3>
<div>
    <h4>LejerKunde</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CprNr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CprNr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForNavn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForNavn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EfterNavn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EfterNavn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VejNavn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VejNavn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HusNummer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HusNummer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dør)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dør)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostNummer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostNummer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ByNavn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ByNavn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KommuneNavn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KommuneNavn)
        </dd>        
    </dl>
    
    <form asp-action="DeleteLejerKunde">
        <input type="hidden" asp-for="KundeId" />
        <input type="submit" value="Slet" class="btn btn-danger" /> |
        <a asp-action="Index">Tilbage til alle lejerkunder</a>
    </form>
</div>
